<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("include/head") %>
    
    <link href="/styles/common.css" rel="stylesheet">
    <link href="/styles/styles.css" rel="stylesheet">
    <script src="/scripts/navbar.js" defer></script> 
    <title>SafeReturns</title>
</head>
<body>
    <%- include("include/nav") %>

    <div class="hero">
        <img class="hero-img" src="/favicon/hero.png">
        <div class="hero-content">
            <h1>SafeReturns</h1>
            <h3>Together, We Can Bring Them Back</h3>
            <p>SafeReturns empowers communities, NGOs, and police stations with an easy-to-use platform for finding and matching missing persons. Leveraging age-progressive facial recognition, we help locate individuals, even when years have passed. Your participation can change lives—join the effort to bring families back together.</p>
            <a href="/signup" class="">Get Started ></a>
        </div>
    </div>
    
</body>
</html>
