<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("include/head") %>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@400;700&display=swap" rel="stylesheet" />

    <link href="/styles/common.css" rel="stylesheet">
    <link href="/styles/login.css" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <section class="login-section">
        <div class="login-form">
            <h2>LogIn to SafeReturns</h2>
            <form action="/submit-login" method="POST">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required minlength="6">
                </div>
                <p class="password-warning">⚠️ Incorrect username or password!</p>
                <button type="submit" class="submit-button">Login</button>
            </form>
            <p>
                Don't have an account? <a href="/signup">SignUp here</a>
            </p>
        </div>
    </section>
</body>
</html>
