<header>
    <div class="logo">
        <img class="logo-img" src="/favicon/logo.png">
    </div>

    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/technologies">Technologies</a>
        <a href="/contact-us">Contact Us</a>
        <!-- <a href="/testimonals">Testimonals</a> -->
        <a href="/login">Login</a>
    </nav>

    <!-- Hamburger Icon for smaller screens -->
    <div class="hamburger" onclick="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>

    <!-- Dropdown menu for mobile navigation -->
    <div class="nav-dropdown" id="navDropdown">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/technologies">Technologies</a>
        <a href="/contact-us">Contact Us</a>
        <!-- <a href="/testimonals">Testimonals</a> -->
        <a href="/login">Login</a>
    </div>
</header>